HISTFILE=$XDG_STATE_HOME/zsh/.histfile
HISTSIZE=1000
SAVEHIST=1000

##############################

export VISUAL=vim  # ='emacs -nw'
export EDITOR=vim
export PAGER=vimpager
export TMPDIR=/tmp
export GPG_TTY=$(tty)

export G_FILENAME_ENCODING=utf-8
export OUTPUT_CHARSET=utf-8
export JLESSCHARSET=utf-8  # =japanese-euc

export ACRO_DISABLE_FONT_CONFIG=1

export LV="-Ou8 -c"  # =-Oej

export STARSHIP_CONFIG="$XDG_CONFIG_HOME/starship/config.toml"

export WAKATIME_HOME="$OPT_HOME/wakatime"

export XMODIFIERS=@im=fcitx  # =@im=SCIM
export XIM=fcitx
export XIM_PROGRAM=fcitx
export XIM_ARGS="--xim"

export GTK_IM_MODULE=fcitx  # =scim
# export UIM_IM_ENGINE=anthy

{{ if eq .chezmoi.username "j22401" }}
export ORGANIZATION="National Institute of Technology, Kisarazu College"
export HOST=$(hostname)
export LANG=ja_JP.UTF-8  # =ja_JP.eucJP
export LANGUAGE="ja_JP:ja:en_GB:en"
export NNTPSERVER=localhost
export PAGER=lv

export TEXINPUTS=".//:$HOME/lib/tex/macros//:/usr/share/texlive//:/usr/share/texmf//"
{{ end }}

export PATH="$OPT_HOME/git-credential-manager:$PATH"


##############################


setopt share_history
setopt extended_history

bindkey -v

eval "$(starship init zsh)"

zstyle ':completion:*:default' menu select=1

autoload -Uz compinit && compinit


##############################


{{ if eq .chezmoi.username "j22401" }}
alias cc='/home/local/bin/gcc-cp.sh'
alias gcc='/home/local/bin/gcc-cp.sh'

alias |\
while read line
do
  aname=$(echo $line | cut -d'=' -f1)
  unalias $aname
done
{{ end }}

alias cp='\cp -i'
alias la='\ls -lha --color=auto'
alias ll='\ls -lh --color=auto'
alias ls='\ls -v --color=auto'
alias mv='\mv -i'
alias rm='\rm -i'


##############################


if [[ -f "$ZDOTDIR/.zshrc.custom" ]]; then
    source "$ZDOTDIR/.zshrc.custom"
fi
