# Vim packages
[".vim/pack/chezmoi/opt/asyncomplete.vim"]
    type = "git-repo"
    url = "https://github.com/prabirshrestha/asyncomplete.vim.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/asyncomplete-lsp.vim"]
    type = "git-repo"
    url = "https://github.com/prabirshrestha/asyncomplete-lsp.vim.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/emmet-vim"]
    type = "git-repo"
    url = "https://github.com/mattn/emmet-vim.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/lexima.vim"]
    type = "git-repo"
    url = "https://github.com/cohama/lexima.vim.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/lightline.vim"]
    type = "git-repo"
    url = "https://github.com/itchyny/lightline.vim.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/onedark.vim"]
    type = "git-repo"
    url = "https://github.com/joshdick/onedark.vim.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/vim-gitgutter"]
    type = "git-repo"
    url = "https://github.com/airblade/vim-gitgutter.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/vim-lsp"]
    type = "git-repo"
    url = "https://github.com/prabirshrestha/vim-lsp.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/vim-lsp-settings"]
    type = "git-repo"
    url = "https://github.com/mattn/vim-lsp-settings.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/vim-surround"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-surround.git"
    refreshPeriod = "168h"
