[".vim/pack/jetpack/opt/vim-jetpack/plugin/jetpack.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/tani/vim-jetpack/master/plugin/jetpack.vim"
    refreshPeriod = "168h"
[".local/share/skk/dict/SKK-JISYO.L"]
    type = "file"
    url = "https://skk-dev.github.io/dict/SKK-JISYO.L.gz"
    refreshPeriod = "168h"
    filter.command = "gzip"
    filter.args = ["-d"]

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") -}}
[".local/bin/starship"]
    type = "archive-file"
    url = "https://github.com/starship/starship/releases/latest/download/starship-x86_64-unknown-linux-musl.tar.gz"
    path = "starship"
    refreshPeriod = "168h"
[".local/opt/git-credential-manager"]
    type = "archive"
    url = "https://github.com/git-ecosystem/git-credential-manager/releases/download/v2.4.1/gcm-linux_amd64.2.4.1.tar.gz"
    exclude = ["NOTICE"]
    refreshPeriod = "168h"

{{ else if and (eq .chezmoi.os "windows") (eq .chezmoi.arch "amd64") -}}
[".local/bin/starship.exe"]
    type = "archive-file"
    url = "https://github.com/starship/starship/releases/latest/download/starship-x86_64-pc-windows-msvc.zip"
    path = "starship.exe"
    refreshPeriod = "168h"

{{ end -}}
