# Vim packages
[".vim/pack/chezmoi/opt/coc.nvim"]
    type = "git-repo"
    url = "https://github.com/neoclide/coc.nvim.git"
    refreshPeriod = "168h"
    clone.args = ["-b", "release"]
[".vim/pack/chezmoi/opt/emmet-vim"]
    type = "git-repo"
    url = "https://github.com/mattn/emmet-vim.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/lightline.vim"]
    type = "git-repo"
    url = "https://github.com/itchyny/lightline.vim.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/onedark.vim"]
    type = "git-repo"
    url = "https://github.com/joshdick/onedark.vim.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/vimsence"]
    type = "git-repo"
    url = "https://github.com/vimsence/vimsence.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/vim-gitgutter"]
    type = "git-repo"
    url = "https://github.com/airblade/vim-gitgutter.git"
    refreshPeriod = "168h"
[".vim/pack/chezmoi/opt/vim-surround"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-surround.git"
    refreshPeriod = "168h"
