*

# Allow-list
!/README.md
!.gitignore
!.gitkeep

!/backup/

!/installer/
!/installer/**

!/rc/
!/rc/.vimrc
!/rc/.ideavimrc
!/rc/.vim/
!/rc/.vim/after/
!/rc/.vim/after/ftplugin/
!/rc/.vim/after/ftplugin/*
!/rc/.vim/config/
!/rc/.vim/config/*
!/rc/ime/
!/rc/ime/google/
!/rc/ime/google/*
