*

# Allow-list
!/README.md
!.gitignore
!.gitkeep

!/.vimrc
!/.vim/
!/.vim/config/
!/.vim/config/*
!/.vim/pack/
!/.vim/pack/jetpack/
!/.vim/pack/jetpack/opt/
!/.vim/pack/jetpack/opt/vim-jetpack/
!/.vim/pack/jetpack/opt/vim-jetpack/plugin/
!/.vim/pack/jetpack/opt/vim-jetpack/plugin/jetpack.vim
