*

# Allow-list
!/README.md
!.gitignore
!.gitkeep

!/backup/

!/installer/
!/installer/**

!/rc/
!/rc/.vimrc
!/rc/.vim/
!/rc/.vim/config/
!/rc/.vim/config/*
!/rc/.vim/ftplugin/
!/rc/.vim/ftplugin/*
!/rc/ime/
!/rc/ime/google/
!/rc/ime/google/*
