" 基本設定
set nocompatible
set encoding=utf-8
scriptencoding
set number
set backspace=2
set clipboard=unnamed,autoselect

" スタイル設定
filetype plugin indent on
set expandtab
set tabstop=4
set softtabstop=4
set shiftround
set shiftwidth=4
set nowrap

" プラグイン読み込み
if has('packages')
    runtime! config/jetpack.vim
    runtime! config/onedark.vim
    runtime! config/lightline.vim
    if has('python3')
        runtime! config/vimsence.vim
    endif
endif

" 色設定
syntax enable
if has('packages')
    colorscheme onedark
else
    colorscheme slate
endif

" 検索設定
set hlsearch
set noincsearch

" ステータスバー等設定
set laststatus=2
set showcmd
if !has('packages')
    set statusline=%F%m%h%w%=[%l:%02v][%Y][%{&fileformat}][%{&fileencoding}]
endif
