[commit]
	gpgsign = true
[core]
    autocrlf = input
[gpg]
	{{ if eq .chezmoi.os "windows" -}}
	program = "{{- lookPath "gpg" | replaceAllRegex "\\\\" "\\\\" -}}"
	{{- end }}
[pull]
	rebase = false
[tag]
	gpgsign = true
[user]
	email = NXVZBGBFBEN@gmail.com
	name = NXVZBGBFBEN
    signinkey = DF6AE3B6BCDF9429

