" 基本設定
set nocompatible
set encoding=utf-8
scriptencoding
set number
set relativenumber
set backspace=2
set clipboard=unnamed,autoselect
set updatetime=300
{{- if eq .chezmoi.os "windows" }}
set shell=pwsh
{{- end }}

" スタイル設定
filetype plugin indent on
set expandtab
set tabstop=4
set softtabstop=4
set shiftround
set shiftwidth=4
set nowrap
set signcolumn=yes
set listchars=tab:<->,space:-,multispace:---\|
set list
{{- if eq .chezmoi.os "windows" }}
set guifont=Myrica\ M:h12
{{- end }}

" プラグイン設定読み込み
if has('packages')
    runtime! config/jetpack.vim
    if has('python3')
        runtime! config/vimsence.vim
    endif
    runtime! config/coc.vim
endif

" colorscheme
syntax enable
if has('packages')
    let g:onedark_hide_endofbuffer=1
    let g:onedark_termcolors=16
    if (empty($TMUX))
        if (has("nvim"))
            let $NVIM_TUI_ENABLE_TRUE_COLOR=1
        endif
        if (has("termguicolors"))
            set termguicolors
        endif
    endif
    packadd! onedark.vim
    colorscheme onedark
else
    colorscheme slate
endif

" 検索設定
set hlsearch
set noincsearch

" statusline
set laststatus=2
set showcmd
if has('packages')
    set noshowmode
    let g:lightline = {
        \ 'colorscheme': 'onedark',
        \ }
    packadd! lightline.vim
else
    set statusline=%F%m%h%w%=[%l:%02v][%Y][%{&fileformat}][%{&fileencoding}]
endif
