[commit]
	gpgsign = true
[core]
    autocrlf = input
	editor = "{{- lookPath "vim" | replace "\\" "/" -}}"
[gpg]
	program = "{{- lookPath "gpg" | replace "\\" "/" -}}"
[pull]
	rebase = false
[tag]
	gpgsign = true
[user]
	email = nxvzbgbfben@gmail.com
	name = NXVZBGBFBEN
    signinkey = DF6AE3B6BCDF9429
[credential]
	helper = manager
[credential "https://dev.azure.com"]
	useHttpPath = true
