" 基本設定
set nocompatible
set encoding=utf-8
scriptencoding
set number
set relativenumber
set backspace=2
set clipboard=unnamed,autoselect
set updatetime=300
{{- if eq .chezmoi.os "windows" }}
set shell=pwsh
{{- end }}

" スタイル設定
filetype plugin indent on
set expandtab
set tabstop=4
set softtabstop=4
set shiftround
set shiftwidth=4
set nowrap
set signcolumn=yes
set listchars=tab:<->,space:-,multispace:---\|
set list
{{- if eq .chezmoi.os "windows" }}
set guifont=Myrica\ M:h12
{{- end }}

" プラグイン設定読み込み
if has('packages')
    packadd! emmet-vim
    packadd! vim-gitgutter
    packadd! vim-surround
    packadd! vim-wakatime
    if has('python3')
        let g:vimsence_small_text = 'Vim'
        let g:vimsence_small_image = 'vim'
        let g:vimsence_editing_details = 'Editing: {}'
        let g:vimsence_editing_state = 'Working on: {}'
        packadd! vimsence
    endif
    runtime! config/jetpack.vim
endif

" colorscheme
syntax enable
if has('packages')
    let g:onedark_hide_endofbuffer=1
    let g:onedark_termcolors=16
    if (empty($TMUX))
        if (has("nvim"))
            let $NVIM_TUI_ENABLE_TRUE_COLOR=1
        endif
        if (has("termguicolors"))
            set termguicolors
        endif
    endif
    packadd! onedark.vim
    colorscheme onedark
else
    colorscheme slate
endif

" 検索設定
set hlsearch
set noincsearch

" statusline
set laststatus=2
set showcmd
if has('packages')
    set noshowmode
    let g:lightline = {
        \ 'colorscheme': 'onedark',
        \ }
    packadd! lightline.vim
else
    set statusline=%F%m%h%w%=[%l:%02v][%Y][%{&fileformat}][%{&fileencoding}]
endif

" coc.nvim
if has('packages')
    " <TAB>で補完選択
    inoremap <silent><expr> <TAB>
    \ coc#pum#visible() ? coc#pum#next(1) :
    \ CheckBackspace() ? "\<Tab>" :
    \ coc#refresh()
    inoremap <expr> <S-TAB> coc#pum#visible() ? coc#pum#prev(1) : "\<C-h>"

    function! CheckBackspace() abort
    let col = col('.') - 1
    return !col || getline('.')[col - 1]  =~# '\s'
    endfunction

    " <CR>で補完確定
    inoremap <silent><expr> <CR>
    \ coc#pum#visible() ? coc#pum#confirm() :
    \ "\<C-g>u\<CR>\<c-r>=coc#on_enter()\<CR>"

    packadd! coc.nvim
endif
