[commit]
	gpgsign = true
[core]
    autocrlf = input
[gpg]
	program = "{{- lookPath "gpg" | replace "\\" "/" -}}"
[pull]
	rebase = false
[tag]
	gpgsign = true
[user]
	email = NXVZBGBFBEN@gmail.com
	name = NXVZBGBFBEN
    signinkey = DF6AE3B6BCDF9429

