{{ if eq .chezmoi.os "windows" -}}

{{ else if eq .chezmoi.os "linux" -}}

#!/usr/bin/env bash

set -ue -o pipefail
export LC_ALL=C

source "$HOME/.local/lib/nxvzbgbfben/bash/get.sh"

get "$HOME/.vim/pack/jetpack/opt/vim-jetpack/plugin/" "https://raw.githubusercontent.com/tani/vim-jetpack/master/plugin/jetpack.vim"

{{ end -}}
