{{ if eq .chezmoi.os "windows" -}}

{{ else if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -ue -o pipefail
export LC_ALL=C

source "$HOME/.local/lib/nxvzbgbfben/bash/get.sh"

# install or update sheldon
get "$HOME/.local/tmp/sheldon/" "https://rossmacarthur.github.io/install/crate.sh"
cat "$HOME/.local/tmp/sheldon/crate.sh" | bash -s -- --repo rossmacarthur/sheldon --to ~/.local/bin
rm "$HOME/.local/tmp/sheldon/crate.sh"

{{ end -}}
