$Env:BIN_HOME = "$HOME\.local\bin"
$Env:PATH += ";$Env:BIN_HOME"

Set-PSReadLineOption -BellStyle None -EditMode Vi

Set-PSReadLineKeyHandler -Chord Tab -Function MenuComplete -ViMode Insert

Invoke-Expression (&starship init powershell)
