$env:XDG_CACHE_HOME = "$HOME\.local\var\cache"

$env:BIN_HOME = "$HOME\.local\bin"
$env:OPT_HOME = "$HOME\.local\opt"


##############################


$env:PATH += ";$env:BIN_HOME"
$env:SHELL = "{{- lookPath "pwsh" -}}"
$env:EDITOR = "{{- lookPath "vim" -}}"

$env:WAKATIME_HOME = "$env:OPT_HOME\wakatime"


##############################


set-alias vim 'C:\Program Files\Vim\vim91\vim.exe'

Invoke-Expression (&starship init powershell)
