source {{ .chezmoi.homeDir }}/.config/nxvzbgbfben/shell/set_environment_variables.sh
source {{ .chezmoi.homeDir }}/.config/nxvzbgbfben/shell/set_aliases.sh

setopt share_history
setopt extended_history

bindkey -v

eval "$(starship init zsh)"

zstyle ':completion:*:default' menu select=1

autoload -Uz compinit && compinit

if [[ -f "$ZDOTDIR/.zshrc.custom" ]]; then
    source "$ZDOTDIR/.zshrc.custom"
fi
