source $HOME/.local/etc/nxvzbgbfben/shell/set_environment_variables.sh

export ZDOTDIR={{ .chezmoi.homeDir }}/.config/zsh
export HISTFILE={{ .chezmoi.homeDir }}/.local/state/zsh/.histfile
export HISTSIZE=1000
export SAVEHIST=1000
