export XDG_CACHE_HOME="$HOME/.local/var/cache"

export BIN_HOME="$HOME/.local/bin"
export OPT_HOME="$HOME/.local/opt"

export CARGO_HOME="$OPT_HOME/cargo"
export RUSTUP_HOME="$OPT_HOME/rustup"
export WASMTIME_HOME="$OPT_HOME/wasmtime"

export BIN_HOME="$CARGO_HOME/bin:$WASMTIME_HOME/bin:$BIN_HOME"
export PATH="$BIN_HOME:$PATH"

export PAGER='less'

{{ if lookPath "gpgconf" -}}
export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
{{ end -}}
