format = """
$hostname$username$directory\
$git_branch$git_commit$git_state$git_status\
$cmd_duration$status\
$line_break\
$character\
"""

[hostname]
ssh_only = false
ssh_symbol = ' [\[*\]](blue)'
format = '[$hostname$ssh_symbol]($style)'

[username]
format = ' [:](bold white) [$user]($style)'
show_always = true

[directory]
format = ' [:](bold white) [$path]($style)[$read_only]($read_only_style)'
read_only = ' [R]'

[git_branch]
format = ' [:](bold white) [$symbol$branch(:$remote_branch)]($style)'
symbol = 'git '

[git_commit]
format = ' [\($hash$tag\)]($style)'
tag_symbol = ' tag '

[git_state]
format = ' \([$state($progress_current/$progress_total)]($style)\)'

[git_status]
format = ' ([\[$all_status$ahead_behind\]]($style))'
ahead = '>'
behind = '<'
diverged = '<>'
renamed = 'r'
deleted = 'x'
style = 'red'

[cmd_duration]
format = ' [-](bold white) [$duration]($style)'

[status]
format = ' [-](bold white) [$status]($style)'
disabled = false

[character]
success_symbol = '[>](bold blue)'
error_symbol = '[>](bold blue)'
vimcmd_symbol = '[<](bold green)'
vimcmd_replace_one_symbol = '[<](bold red)'
vimcmd_replace_symbol = '[<](bold red)'
vimcmd_visual_symbol = '[<](bold purple)'
